* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
body,
html {
  height: 100%;
  width: 100%;
}
#main {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(170, 222, 222);
}
#pannel {
  overflow: hidden;
  border-radius: 10px;
  height: 80%;
  width: 80%;
  background-color: white;
}
#ptop {
  display: flex;
  padding: 0px 30%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 60px;
  width: 100%;
  background-color: rgb(112, 148, 148);
}
#elem {
  width: 10%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.box {
  padding: 5px 10px;
  background-color: #fff;
  color: rgb(66, 158, 126);
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
}
#pbtn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  height: calc(100% - 60px);
  width: 100%;
  padding: 20px;
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 50px;
  background-color: rgb(112, 148, 148);
}
.bubble:hover {
  cursor: pointer;
  background-color: rgb(67, 86, 86);
}
